<form action="/definitions" method="post" class="definition_form">
    <input id='word_id' name='word_id' type='hidden' value='<%= @word.id() %>'>
    <div class="input-field">
        <label for="definition">Definiton</label>
        <input name="word" id="word" type="text" placeholder="Word definition" required="required">
    </div>
    <div class="definition_btn">
        <button type="submit" class="waves-effect waves-light btn">Add Definition</button>
    </div>
</form>