<form action="/new-word" method="post">
	<div class="input-field">
		<label for="word">Word</label>
		<input type="text" name="word" id="word">
	</div>
<!-- 	<div class="input-field">
		<label for="definition">Definiton</label>
		<textarea name="definition" id="definition" class="materialize-textarea"></textarea>
	</div> -->
	<button type="submit" class="waves-effect waves-light btn">Add</button>
</form>