<div class="success_word">
    <h3 class="center-align"><%= @word %> has been added to your dictionary!</h3>
    <div class="center_links">
        <a href="/"><button class="waves-effect waves-light btn">View Words</button>
        </a>
        <a href="/word/new"><button class="waves-effect waves-light btn">Add New Word</button>
        </a>
    </div>
</div>