<h3><%= @word.word() %></h3>
<p>Definitions:</p>
<ol>
    <% @word.definitions.each do |definition| %>
    <li><%= definition.word %></li>
    <% end %>
</ol>
<a href="/words/<%= @word.id%>/definitions/new"><button class="waves-effect waves-light btn">Add definition</button></a>
