<form action="/words" method="post">
	<div class="input-field">
		<label for="word">Word</label>
		<input type="text" name="word" id="word">
	</div>
	<button type="submit" class="waves-effect waves-light btn">Add</button>
</form>