body {
    font-size: 18px;
    font-family: times;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://static.pexels.com/photos/26236/pexels-photo.jpg
) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.word_form {
    margin-top: 15%;
}

.word_form_btn {
    text-align: center;
}

.word_form .input-field {
    width: 50%;
    margin: auto;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: black;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: black;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: black;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
}

.success_word {
    margin-top: 15%;
}

.center_links {
    margin-left: 30%;
}

.center_links a {
    padding: 2%;
}

nav {
    background-color: transparent;
}

nav .brand-logo {
    color: black;
    font-weight: bolder;
}

nav ul a {
    color: black;
}

nav ul a:hover {
    background-color: transparent;
}

.definition_form {
    margin-top: 15%;
}

.definition_btn {
    text-align: center;
}

.my_words a:hover {
    text-decoration: underline;
}

.my_words {
    text-align: center;
    margin-top: 5%;
}
