body {
    font-size: 18px
}

.word_form {
    margin-top: 15%;
}

.word_form_btn {
    text-align: center;
}

.word_form .input-field {
    width: 50%;
    margin: auto;
}

.success_word {
    margin-top: 15%;
}

.center_links {
    margin-left: 30%;
}

.center_links a {
    padding: 2%;
}

nav {
    background-color: transparent;
}

nav .brand-logo {
    color: black;
}

nav ul a {
    color: black;
}

nav ul a:hover {
    background-color: transparent;
}

.definition_form {
    margin-top: 15%;
}

.definition_btn {
    text-align: center;
}

.my_words a:hover {
    text-decoration: underline;
}

.my_words {
    text-align: center;
}
